version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "deps [skip-ci]"
    labels:
      - "dependencies"
      - "github-actions"
